[Unit]
Description=Emoji picker daemon
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/emoji-picker --daemon
Restart=on-failure

[Install]
WantedBy=graphical-session.target
